<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      var userToken = '<%= @user.token %>';
      var userLogin = '<%= @user.login %>';
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='col-md-12 navbar navbar-inverse navbar-static-top'>
      <a href='/' class='navbar-brand'>APICurious</a>
      <ul class='nav navbar-nav navbar-right'>
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= "Signed in as #{current_user.login}" %></li>
                <li role="separator" class="divider"></li>
                <li> <%= link_to "Your Profile", user_path(current_user) %> </li>
                <li> <%= link_to "Sign Out", github_logout_path, method: :delete %> </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", github_login_path %>
            </li>
          <% end %>
      </ul>
    </div>

  <div class="container-fluid">
    <%= yield %>
  </div>
  </body>
</html>
